body {
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 50px;
    background-color: rgb(245, 245,245);
}
#header {
    max-width: 1170px;
    height: 100px;
    border: solid 2px rgb(186, 169, 196);
    border-radius: 15px;
    background-color: rgb(223, 213, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
#tytle {
    margin-left: 50px;
    font-size: 30px;
}
#currentTime {
    margin-right: 50px;
    width: 100px;
    height: 40px;
    border: solid 2px rgb(158, 157, 159);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    padding-left: 9px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
#main {
    max-width: 1150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
#todo,
#progress,
#done {
    height: 600px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px rgb(199, 219, 190);
    border-radius: 10px;
    background-color: #fff;
}
#todo__title,
#inProgress__title,
#done__title {
    width: 350px;
    height: 50px;
    display: flex;
    background-color: rgb(217, 231, 214);
    border: solid 2px rgb(199, 219, 190);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    position: relative;
    right: 2px;
    bottom: 2px;
}
#todo-footer,
#done-footer {
    width: 350px;
    height: 50px;
    background-color: rgb(217, 231, 214);
    border: solid 2px rgb(199, 219, 190);
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    right: 2px;
    top: 2px;
}
#todo-footer:hover {
    background-color: rgb(199, 219, 190);
    transition: .5s;
}
#todo-footer:active {
    box-shadow: 0px 0px 10px 5px rgb(217, 231, 214);
}
#progress {
    border: solid 2px rgb(148, 148, 148);
    .wrapper-container {
        height: 576px;
    }
    .todo__card {
        background-color: rgb(245, 245, 245);
        border: solid 2px rgb(161, 161, 161);
    }
}
#inProgress__title {
    background-color: rgb(245, 245, 245);
    border: solid 2px rgb(148, 148, 148);
}
#done {
    border: solid 2px rgb(175, 192, 220);
    .todo__card {
        background-color: rgb(221, 231, 250);
        border: solid 2px rgb(179, 195, 223);
    }
}
#done__title,
#done-footer {
    background-color: rgb(221, 231, 250);
    border: solid 2px rgb(175, 192, 220);
}
#done-footer:hover {
    background-color: rgb(175, 192, 220);
    transition: .5s;
}
#done-footer:active {
    box-shadow: 0px 0px 10px 5px rgb(221, 231, 250);
}
.wrapper-container {
    overflow: scroll;
    height: 496px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 4px;
}
.todo__card {
    margin: auto;
    margin-top: 6px;
    margin-bottom: 5px;
    width: 330px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(217, 231, 214);
    border: solid 2px rgb(199, 219, 190);
    border-radius: 10px;
    .todo__card-title {
        display: flex;
        justify-content: end;
        p {
            margin-top: 8px;
            font-weight: 700;
        }
    }
    .card__footer {
        font-size: 18px;
        display: flex;
        justify-content: flex-end;
        margin-right: 3px;
        p {
            font-size: 16px;
        }
    }
    .todo__card-text {
        margin-left: 16px;
    }
    select {
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        margin: 5px;
        height: 28px;
        outline: none;
    }
    button {
        border-radius: 5px;
        background-color: #fff;
        margin: 5px;
        height: 28px;
        border: solid 1px gray;
    }
    .todo__userName {
        margin-right: 16px;
    }
}

#modale {
    #modale__card {
        z-index: -1;
        opacity: 0;
        position: absolute;
        top: 200px;
        left: 35%;
        margin: auto;
        width: 530px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(217, 231, 214);
        border: solid 2px rgb(199, 219, 190);
        border-radius: 10px;
        #modale__card-title,
        #modale__footer {
            font-size: 16px;
            display: flex;
            justify-content: space-around;
        }
        input {
            outline: none;
            border: solid 1px grey;
            border-radius: 5px;
            text-align: center;
        }
        textarea {
            display: flex;
            margin: auto;
            width: 500px;
            height: 200px;
            outline: none;
            resize: none;
            border-radius: 10px;
            text-align: center;
        }
        button {
            width: 100px;
            height: 50px;
            border-radius: 5px;
            background-color: #fff;
            margin: 5px;
            height: 28px;
            border: solid 1px gray;
        }
    }
}

#modale.open {
    background-color: rgba($color: #5b5757, $alpha: 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    #modale__card {
        z-index: 2;
        opacity: 1;
    }
}
.modale__remove-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 300px;
    margin: 0 auto;
    z-index: -2;
    opacity: 0;
    background-color: rgba(241, 208, 205, 0.5);
    width: 100%;
    height: 100%;
    .modale-remove {
        display: flex;
        margin: auto;
        width: 400px;
        height: 180px;
        background-color: rgba(241, 208, 205, 1);
        justify-content: space-around;
        font-size: 54px;
        flex-wrap: wrap;
        border: solid 2px rgb(218, 168, 164);
        border-radius: 15px;
        button {
            width: 130px;
            height: 42px;
            font-size: 26px;
            border: solid 2px rgb(160, 160, 160);
            border-radius: 8px;
        }
    }
}
.modale__remove-wrapper.open {
    z-index: 2;
    opacity: 1;
}
.modale__remove-wrapper-all {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 300px;
    margin: 0 auto;
    z-index: -3;
    opacity: 0;
    background-color: rgba(241, 208, 205, 0.5);
    width: 100%;
    height: 100%;
    .modale-remove-all {
        display: flex;
        margin: auto;
        width: 550px;
        height: 180px;
        background-color: rgba(241, 208, 205, 1);
        justify-content: space-around;
        font-size: 54px;
        flex-wrap: wrap;
        border: solid 2px rgb(218, 168, 164);
        border-radius: 15px;
        button {
            width: 230px;
            height: 42px;
            font-size: 26px;
            border: solid 2px rgb(160, 160, 160);
            border-radius: 8px;
        }
    }
}
.modale__remove-wrapper-all.open {
    z-index: 2;
    opacity: 1;
}